Repository toknapp/google4s: changes, and which Codecov flags are due for each by the changed paths.
All: gkms, gpubsub, gstorage, util

updated site
  gpubsub/example.html
  gpubsub/index.html
Due: gpubsub

updated site
  css/codemirror.css
  css/monokai.css
  css/palette.css
  css/style.css
Due: none

updated site
  highlight/CHANGES.md
  highlight/README.md
  highlight/README.ru.md
  highlight/highlight.pack.js
Due: none

updated site
  js/main.js
Due: none

updated site
  img/favicon114x114.png
  img/favicon120x120.png
  img/favicon128x128.png
  img/favicon144x144.png
  img/favicon150x150.png
  img/favicon152x152.png
  img/favicon16x16.png
  img/favicon196x196.png
  img/favicon24x24.png
  img/favicon310x150.png
  img/favicon310x310.png
  img/favicon32x32.png
  img/favicon48x48.png
  img/favicon57x57.png
  img/favicon60x60.png
  img/favicon64x64.png
  img/favicon70x70.png
  img/favicon72x72.png
  img/favicon76x76.png
  img/favicon96x96.png
  img/first_icon.png
  img/first_icon2x.png
  img/jumbotron_pattern.png
  img/jumbotron_pattern2x.png
  img/navbar_brand.png
  img/navbar_brand2x.png
  img/second_icon.png
  img/second_icon2x.png
  img/sidebar_brand.png
  img/sidebar_brand2x.png
  img/third_icon.png
  img/third_icon2x.png
Due: none

updated site
  gstorage/example.html
  gstorage/index.html
Due: gstorage

updated site
  gkms/example.html
  gkms/index.html
Due: gkms

test highlight theme
  build.sbt
  site/src/main/resources/microsite/data/menu.yaml
Due: none

Delete _config.yml
  _config.yml
Due: none

modify gitignore
  .gitignore
  build.sbt
Due: none

Path conditions:
  gkms: any of: gkms/
  gpubsub: any of: gpubsub/
  gstorage: any of: gstorage/
  util: any of: util/
